<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
      <th>PE Ratio</th>
      <th></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% @stock = StockQuote::Stock.quote(stock.ticker) %>
      <% if stock.user_id == current_user.id %>
        <tr>
          <td><%= link_to @stock.name, stock %></td>
          <td><%= @stock.symbol %></td>
          <td><%= @stock.l %></td>
          <td><%= @stock.mc %></td>
          <td><%= @stock.pe %></td>
          <td><%= link_to 'Remove', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
          
          

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path, class: "btn btn-default" %>


<br/><br/><br/><br/>



