<% begin %>
  <% @stock_quote = StockQuote::Stock.quote(@stock.ticker) %>
<% rescue StandardError %>
hello
<% end %>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @stock_quote.name %></strong></h3>
  </div>
  <div class="panel-body">
    
  <div class="col-md-4">
   <h1>$<%= @stock_quote.l %></h1><br/>
   
   <strong>Symbol:</strong> <%= @stock_quote.symbol %><br/>
   <strong>Earnings Per Share: </strong><%= @stock_quote.eps %><br/>
   <strong>Price/Earning Ratio: </strong><%= @stock_quote.pe %><br/>
   <strong>Market Cap: </strong><%= @stock_quote.mc %><br/>
   <strong>Stock Open: </strong><%= @stock_quote.op %><br/>
   <strong>Year High: </strong><%= @stock_quote.hi52 %><br/>
   <strong>Year Low: </strong><%= @stock_quote.lo52 %><br/>
   </div>
  

<div class="col-md-8"><br/><br/><br/><br/><br/>
<p align="justify"><%= @stock_quote.summary[0]['overview'] %></p>
</div>

</div>

  <div class="panel-footer"><%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %> |
<%= link_to 'Remove', stock_path(@stock), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

